.seccion {
   background-color: darkslategrey;
   padding: 1rem;
   margin: 1rem;

}

.parrafo {
   background-color: white;
   padding: 1rem;
}

.parrafo.dragging {
   background-color: yellow;
   opacity: 0.5;
}

/* .imagen-fantasma-container {
   display: none;
} */
.imagen-fantasma {
   background-color: red;
   padding: 1rem;
   margin: 1rem;
   opacity: 0.5;
   width: 25px;
   height: 25px;
   position: absolute;
   left: -100vw;
}